//-
  https://devhints.io/pug
  https://pugjs.org/language/attributes.html

//- ----------------------------------------------------------------------------
//- ITERATION
//- ----------------------------------------------------------------------------
block iteration

  //- OBJECT

  ul
  each val, key in {1: 'one', 2: 'two', 3: 'three'}
    li= key + ': ' + val

  //- =>
  <ul>
    <li>1: one</li>
    <li>2: two</li>
    <li>3: three</li>
  </ul>

  //- ARRAY

  ul
    each val in [1, 2, 3, 4]
      li= val

  //- =>
  <ul>
    <li>1</li>
    <li>2</li>
    <li>3</li>
    <li>4</li>
  </ul>

  //- #2
  ul
    each val, index in ['zero', 'one', 'two']
      li= index + ': ' + val

  //- =>
  <ul>
    <li>0: zero</li>
    <li>1: one</li>
    <li>2: two</li>
  </ul>

  //- ДАННЫХ НЕТ

  - var values = [];
    ul
      each val in values.length ? values : ['There are no values']
        li= val

//- ----------------------------------------------------------------------------
//- MIXINS
//- ----------------------------------------------------------------------------
block mixins

  //- /pages/base/mixins.pug
  mixin article(title)
    article
      h1.title= title
      block

  //- Использование
  include /pages/base/mixins

  ⚠️  Атрибуты следует заключать в кавычки.
  +article('hello there')
    p Абзац, который попадет в блок `block`. А заголовок будет `hello there`

  //- Пример №2
  mixin icon(name, classes)
  svg.icon(class= classes, aria-hidden='true', focusable='false')
    use(href='/img/base/graphics/sprite.svg#icon-' + name)

  +icon('search', 'is-search')

  //- Пример №3
  mixin pet(name)
    li.pet= name

  ul
    +pet('cat')
    +pet('dog')
    +pet('pig')

  //- =>
  <ul>
    <li class="pet">cat</li>
    <li class="pet">dog</li>
    <li class="pet">pig</li>
  </ul>

  //- Аргумент attributes. HTML-атрибут добавляется, только, если явно указан
  mixin link(href, name)
    a(class!=attributes.class href=href)= name

  +link('/foo', 'Текст первой ссылки')
  +link('/baz', 'Текст второй ссылки')(class="btn")

  //- =>
  <a href="/foo">Текст первой ссылки</a>
  <a class="btn" href="/baz">Текст второй ссылки</a>

//- ----------------------------------------------------------------------------
//- CONDITIONALS
//- ----------------------------------------------------------------------------
block сonditionals

  - var user = {description: 'foo bar baz'}
  - var authorised = false
  #user
    if user.description
      h2.green Description
      p.description= user.description
    else if authorised
      h2.blue Description
      p.description.
        User has no description,
        why not add one...
    else
      h2.red Description
      p.description User has no description

    - var page = 60;
    if page => 52
      h1 Lots of numbers!
    else if page > 26 && page < 52
      h1 A few numbers
    else
      h1 Not a lot of numbers

    - var showLogin = false;
    if authorized && showLogin === true
      .welcome Welcome back to our website!
    else
      .login
        a(href="/login") Login

  //- unless
  unless user.isAnonymous
    p You're logged in as #{user.name}

//- ----------------------------------------------------------------------------
//- TEMPLATE INHERITANCE
//- ----------------------------------------------------------------------------
block inheritance
  //- Append/prepend. Команды используются для того, чтобы добавить код сверху
    или снизу шаблонного содержания. Например:

  append config
    - var bodyClasses = 'page is-front'

  prepend scripts
    script(src='/vendor/three.js')

//- ----------------------------------------------------------------------------
//- MISC
//- ----------------------------------------------------------------------------
block misc

  //- Интерполяция

  - var author = "Vladimir";
  - var theGreat = "<span>escape!</span>";

  h1= title
  p Written with love by #{author}

  //- Переменные в атрибутах
  - var url = 'pug-test.html';
  a(href='/' + url) Link
